<section class="about">
  <h1>
    Always Leave the First Page Blank is a NY based contemporary independent publisher and curatorial collective focused on the intersection between the realms of print, digital, film, and installation.
  </h1>

</section>

<footer>
  <div class="contact">
    <p> Here will be the contact information & social links</p>
  </div>
</footer>
