<section class="hero">
  <div>
    <%= link_to 'Books', products_path %>
    <%= link_to 'Artists', artists_path %>
    <%= link_to 'About', about_path %>
  </div>
    <%= image_tag 'ringlogo2.png' %>
</section>
