<% @about.each do |print| %>
  <section class="about">
    <h3>  <%= print.bio %> </h3>
  </section>

  <footer>
    <p> <%= mail_to print.email, print.email %> </p>
    <p> <%= link_to '@AlwaysLeaveTheFirstPageBlank', print.instagram, target: :_blank %></p>
    <p> <%= link_to 'Site created by...', 'http://www.brianagude.com/', target: :_blank%></p> 
  </footer>
<% end %>
