@font-face{
  font-family: "Happy";
  src:  url(happy-times-at-the-ikob-webfont.woff2), url(happy-times-at-the-ikob-webfont.woff);
}

body {
  font-family: 'Happy';
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.45;

  background-color: #000;

  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
  font-family: 'BluuNextBold';

  &:hover {text-decoration: underline;}
}

h1,
h2,
h3,
h4 {font-family: 'BluuNextBold';}

h1 {font-size: 43px;}
h2 {font-size: 41px;}
h3 {font-size: 34px;}
h4 {font-size: 28px;}
h5 {font-size: 19px;}
a {font-size: 24px;}

header {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 64px;

  background-color: #000;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 5px solid #fff;
  z-index: 2;

  a.menu-button2 {display: none}
  a.menu-button,
  a.search,
  a.switch,
  a.menu-button2 {
    img {
      max-height: 24px;
      margin: 0 20px;
      transform: translateY(-5px);
    }
  }

  a.logo {
    img {
      max-width: 800px;
      padding: none;
      transform: translateY(-13%);
    }
  }

  h1 {letter-spacing: 5px;}
}

.show {transform: translateY(64px);}
.switch {transform: translateX(-100%);}

div.menu2{display:none;}

nav {
  background-color: #000;

  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 5px solid #fff;
  border-top: none;
  transition: transform 0.5s;

  z-index: 1;

  a {margin: 0 80px;}
  div{
    width: 50%;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

  div.search {
    background-color: #000;

    width: 50%;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-right: 5px solid #fff;
    border-bottom: 5px solid #fff;

    z-index: 1;

    a {margin: 0 80px;}
  }

  form {
    width: 100%;
    left:0;
    padding: 5px;

    background-color: #000;
    border:none;

    input[type=text]{
      width: 100%;

      background-color: #000;
      color: rgba(255, 255, 255, 1);
      font-family: 'BluuNextBold';
      font-size: inherit;

      border:none;
      outline: none;
    }
  }

section.home {
  display: flex;
  justify-content: space-between;
  align-items: center;

  top:0;
  left: 0;

  padding: 0 20px;
  padding-top: 50vh;
  margin: 0;

  width: 100vw;
  height: 100%;
  min-height: 100vh;

  border: 5px solid #fff;

  img {
    transform: translateY(-60%);
    padding: 0;
    margin: 20px 20px 50px 20px;
    z-index: 1;

    &:hover{border: solid 5px #fff;}
  }
}

section.artisthome{
  justify-content: space-around;
  padding: 50vh 10px 0 10px;

  img{
    margin: 20px 0;
    transform: translateY(-50%);
  }
}

section.stuff {
  display: flex;
  flex-direction: row;

  div {
    margin-top: 0;
    padding-top: 0;

    width: 50%;
    height: 100vh;

    background-color: #000;
    border: 5px solid #fff;
    border-top: none;
  }

  div.content {
    height: 100%;
    min-height: 100vh;

    border-top: none;
    padding-top: 64px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    img {
      border: solid 5px #fff;
      margin: 50px;
      padding: 0;
    }
  }

  div.artistcontent{
    height: 100vh;
  }

  div.info {
    height: 100%;
    min-height: 100vh;
    max-height: 100%;
    margin-top: 0;
    padding: 80px 0 40px 0;

    top: 0;
    position: sticky;
    position: -webkit-sticky;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    text-align: center;
    border: solid 5px #fff;

    div {
      border: none;
    }

    table {
      width: 100%;
      border-collapse: collapse;

      top: 0;
      margin: 0;
      padding: 0;

      td {
        padding: 10px 20px;

        p, h4, a{
          font-size: 24px;
          font-family: 'Happy';
        }
        p {text-align: left}
        h4, a {text-align: right;}
      }

      td:nth-child(odd) {width: 50%;}
    }

    table.data{
      td {
        p, h4, a{text-align: center;}
        h4, a{font-family: 'BluuNextBold'}
      }
    }
  }
}

section.about {
  text-align: center;
  margin: auto;

  position: fixed;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  width: 90%;

  h3{
    font-family: 'Happy';
    text-align: center;
  }
}

section.split {
  position: fixed;
  top: 0;
  right: 0;

  width: 50%;
  height: 100%;

  background-color: #fff;

  mix-blend-mode: difference;
  pointer-events: none;
  transition: all 0.5s ease;
  z-index: 2;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 40px;
  padding: 10px 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

// media queries
@media (max-width: 1350px){
  section.home{
    flex-wrap: wrap;
    padding-top: 40vh;
  }

  section.artisthome{
    justify-content: space-between;
    padding-top: 40vh;

  }
}

@media only screen and (max-width: 1024px) {
  h1 {font-size: 70px;}
  h2 {font-size: 58px;}
  h3 {font-size: 48px;}
  h4 {font-size: 58px;}
  h5 {font-size: 43px;}
  a, p {font-size:48px;}

  header {
    display: flex;
    height: 88px;
    justify-content: center;
    align-items: center;

    a.search, a.switch, a.menu-button {display: none;}
    a.logo{
      img{
        max-width: 950px;
        transform: translateY(-50%);
      }
    }
  }

  .show {display: flex;}
  .switch {transform: translateY(-100%);}

  div.menu2{display:none;}

  nav {
    div.search{display:none;}
    background-color: #000;

    position: fixed;
    top: 88px;
    left: 0;

    width: 100%;
    height: 72px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 5px solid #fff;
    border-top: none;
    transition: transform 0.5s;
    z-index: 1;

    a {margin: 0 80px;}
    div{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  section.home {
    display: flex;
    border: 5px solid #fff;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    top:0;
    left: 0;
    position: relative;

    padding: 200px 0 0 0;
    margin: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    // background-color: green;

    img {
      height: 900px;
      // max-width: 900px;
      transform: translateY(-8%);
      padding: 0;
      margin: 40px;
      display: block;
      // background-color: pink;
      padding: 5px;
      &:hover{border: solid 5px #fff;}
    }
  }

  section.stuff {
    display: flex;
    flex-direction: column-reverse;
    width: 100vw;
    top: 0;

    div {
      margin-top: 0;
      padding-top: 0;

      width: 100%;
      // height: 100%;
    }

    div.content {
      height: 100%;
      min-height: 100vh;
      top: 0;
      left: 0;

      padding-top: 100px;
      padding-bottom: 100px;

      background-color: rgba(0, 0, 0, 0);
      z-index: 2;
    }


    div.info {
      height: 100%;
      min-height: 300px;
      max-height: 100%;
      padding: 100px 0 40px 0;

      border-top: none;
      border-bottom: none;

      table {
        margin-bottom: 40px;
      }

      table.data{
        margin-top: 100px;
      }
    }
  }

  section.about {
    text-align: center;
    position: fixed;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


  section.split {
    display: none;
    top: 50%;
    right: 50%;

    width: 100%;
    height: 20%;

    transform: translate(50%, 50%);
  }

  footer {
    height: 224px;
    padding: 5px;
    margin-bottom: 30px;

    justify-content: center;
    flex-wrap: wrap;

    p{
      width: 100%;
      text-align: center;
      margin: 5px;
    }
  }
}
