

body {
  font-family: 'BluuNextBold';
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.45;
  background-color: #000;
  margin: 40px 0 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
  font-family: 'BluuNextBold';

  &:hover {
    text-decoration: underline;
  }
}

h1,
h2,
h3,
h4 {
  font-family: 'BluuNextBold';
}

h1 {
  font-size: 43px;
}

h2 {
  font-size: 41px;
}

h3 {
  font-size: 34px;
}

h4 {
  font-size: 28px;
}

h5 {
  font-size: 19px;
}

a {
  font-size: 24px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 5px solid #fff;
  z-index: 2;

  a.menu-button,
  a.search,
  a.switch {
    img {
      max-height: 24px;
      margin: 0 20px;
      transform: translateY(-5px);
    }
  }

  a.logo {
    img {
      max-width: 1000px;
      padding: none;
      // max-height: 80px;
    }
  }

  h1 {
    letter-spacing: 5px;
  }
}

nav {
  background-color: #000;
  position: fixed;
  top: 64px;
  left: 0;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid #fff;
  border-top: none;
  transition: transform 0.5s;

  a {
    margin: 0 80px;
  }
  z-index: 1;
}

          div.search {
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #fff;
    border-top: none;
    transition: transform 0.5s;
    z-index: 1;

    a {margin: 0 80px;}
  }

  .show-search {transform: translateY(64px);}
  .show {transform: translateY(-64px);}
  .switch {transform: translateX(-100%);}

  form {
    width: 90%;
    background-color: none;
    // color: #fff;
    div.input {
      // margin: 1em 0;
    }

    label {
      display: block;
      // margin: 0 0 0.25em 0;
    }

    input[type=email],
    input[type=password],
    input[type=text],
    textarea {
      width: 100%;
      // padding: 0.5em 0.75em 0.5em 0.75em;
      background-color: #fff;
      color: #000;
      font-family: inherit;
      font-size: inherit;
      // border: 1px solid #fff;
    }

    input[type=submit] {
      // background: #000;
      color: #fff;
      font-family: inherit;
      font-size: inherit;
      appearance: none;
      border: none;
      // padding: 0.5em 1.5em 0.5em 1.5em;
    }

    abbr {
      text-decoration: none;
      float: right;
    }
  }

.show {
  transform: translateY(-64px);
}

.switch {
  transform: translateX(-100%);
}

section.home {
  display: flex;
  border: 5px solid #fff;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 100px 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 50%;
    padding: 0;
  }

  img {
    width: 500px;
    margin: 40px 80px;
    padding: 0;

    &:hover{border: solid 5px #fff;}
  }
}

section.stuff {
  display: flex;
  flex-direction: row;

  div {
    width: 50%;
    height: 100vh;
    background-color: #000;
    border: 5px solid #fff;
    border-top: none;
    padding-top: 100px;
  }

  div.content {
    height: 100%;
    border-top: none;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    img {
      max-width: 500px;
      max-height: 600px;

      border: solid 5px #fff;
      margin: 50px;

      padding: 0;
    }
  }

  div.info {
    height: 100vh;
    top: 0;
    position: sticky;
    position: -webkit-sticky;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    text-align: center;
    border: solid 5px #fff;

    div {
      border: none;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      padding: 100px;

      td {
        p, h4 {
          text-align: center;
        }
        padding: 20px;
      }
    }
  }
}

section.about {
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

section.split {
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #fff;
  mix-blend-mode: difference;
  pointer-events: none;
  transition: all 0.5s ease;
  z-index: 2;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// media queries
@media only screen and (max-width: 1024px) {
  header {
    // z-index: 3;
    height: 80px;
    justify-content: center;

    a.menu-button, a.search, a.switch {display: none;}
    a.logo{img{max-width: 800px;}}
  }

  nav {
    top: 80px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      margin: 0 80px;
    }
    // z-index: 3;
  }

  .show {
    transform: translateY(-64px);
  }

  .switch {
    transform: translatey(100%);
  }

  section.home {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 100px 0;
    width: 100%;
    height: 100%;

    img {
      max-width: 700px;
      margin: 40px;
    }
  }

  section.stuff {
    display: flex;
    flex-direction: column-reverse;
    width: 100vw;

    div {
      width: 100vw;
      height: 100%;
      display: block;
      background-color: rgba(255, 255, 255, 0);
      border: 5px solid #fff;
      border-top: none;
    }

    div.content {
      // z-index: 3;
      height: 100%;
      min-height: 100vh;
      padding-top: 40px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      img {
        // width: 3000px;
        // max-height: 600px;
        height: 1000px;
        border: solid 5px #000;
        margin: 50px;
        z-index: 2;
      }
    }

    div.info {
      top: 0px;
      max-height: 800px;
      // z-index: 2;
      padding: none;
      border-top: none;
      border-bottom: none;

      table {
        td {
          padding: 10px;

        }
      }
    }
  }

  section.about {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  section.split {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 50%;
    background-color: #fff;
    mix-blend-mode: difference;
    pointer-events: none;
    transition: all 0.5s ease;
    z-index: 2;
  }

  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
