<section class="stuff">
<%= render partial: 'books' %>

<div class="info">
  <table class="data">
    <tr>
      <td>Title</td>
      <td></td>
    </tr>
    <tr>
      <td>Author</td>
      <td></td>
    </tr>
    <tr>
      <td colspan="2">Description</td>
    </tr>
    <tr>
      <td colspan="2"></td>
    </tr>
    <tr>
      <td>Location</td>
      <td></td>
    </tr>
    <tr>
      <td>Price</td>
      <td></td>
    </tr>
  </table>
</div>
<section>
